@import url("https://boxicons.com/");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Roboto", sans-serif; 
    font-weight: 100;
    font-style: normal;
    /* Arial, sans-serif; */
    background-color:rgba(251, 251, 251, 0.345);;
}

.container {
    position: relative;
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    background:rgba(255, 255, 255, 0.115);
    backdrop-filter: blur(25px);
    text-align: center;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.5); Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    font-family: "Roboto", sans-serif; 
    font-weight: 100;
    font-style: normal;
    position: relative;
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    align-items: center;
    background: transparent;
    outline: none;
}

button {
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 28px;
}

.weather-info {
    margin-top: 20px;
}