@import url("https://boxicons.com/");

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Roboto", sans-serif; 
    font-weight: 100;
    font-style: normal;
    /* Arial, sans-serif; */
    background-color:rgba(251, 251, 251, 0.345);;
    background-image: url('content/rain.mp4');
    background-size: cover;
}

.container {
    position: relative;
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    background:rgba(255, 255, 255, 0.115);
    backdrop-filter: blur(50px);
    text-align: center;
    padding: 20px;
    /* background-color: rgba(255, 255, 255, 0.5); Set the background color to be transparent */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
}

.container .header {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    height: 10px;
    margin-top: -10px;
}

input[type="text"] {
    font-family: "Roboto", sans-serif; 
    font-weight: 800;
    font-style: normal;
    position: relative;
    width: 93%;
    padding: 10px;
    margin-top: 50px 0;
    border-radius: 10px;
    align-items: center;
    background: transparent;
    outline: none;
    padding-right: 10px;
}

button {
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
    position:absolute;
    right: 10px;
    top:45px;
}

.weather-info {
    margin-top: -20px;
}

.weather-info img {
    width: 50%;
    
}

.weather-info .temperature {
    position: relative;
    font-weight: 600;
    font-size: 64px;
    height: 10px;
    margin-top: 10px;
}

.weather-info .description {
    position: relative;
    font-weight: 400;
    font-size: 40px;
}

.weather-info .location {
    position: relative;
    font-size: 43px;
    font-weight: 500;
    height: 30px;
}
::placeholder {
    color: black;
}